.main{
    display: flex;
}
.left{
    background: gray;
    flex: 1;
}
.center{
    flex: 4;
    display: flex;
    flex-direction: column;
}
.right{
    background: gray;
    flex: 1;
}
.header{
    background: #1F2937;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.logosection{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.headerlogo{
    font: 24px;
    flex: 4;
    color: #F9FAF8;
    font-weight: bold;
    flex-direction: row;
}
.headerlink1,
.headerlink2,
.headerlink3{
    font: 18px;
    flex: 1;
    color: #E5E7EB;
    align-items: center;
    flex-direction: row;
}
.buffer{
    flex: 50px
}
.introsection{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.introleft,
.introright{
    flex: 1;
}